# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/your-database"

# Node Environment
NODE_ENV="development"

# Environment Variable Validation (skip validation if needed)
# SKIP_ENV_VALIDATION="true"